.btn {
  background-color: inherit;
  margin: 0 1rem;
  padding: 0.15rem 0.1rem;
  a {
    text-decoration: none;
    margin-top: 1rem;
    text-align: center;
  }
  &-dark {
    a {
      color: $dark-color2;
    }
  }
  &-light {
    a {
      color: $light-color1;
    }
  }
}


