.embossedbtn {
  border-radius: 7px;
  height: 1.7rem;
  width: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  cursor: pointer;
  &-light {
    @include light-shadow;
  }
  &-dark {
    @include dark-shadow;
  }
}
