.embossedbtn {
  border-radius: 7px;
  height: 1.7rem;
  width: 5rem;
  margin-bottom: 1rem;
  &-light {
    box-shadow: 0 4px 5px $light-shadowbtn;
  }
  &-dark {
    box-shadow: 0 4px 5px $dark-fg;
  }
}
