.feed {
  min-height: 100vh;
  &-light {
    background-color: $light-bg;
  }
  &-dark {
    background-color: $dark-bg;
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
