.not-found {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &--pic {
    margin-top: 5%;
    &-light {
      margin-top: 1.5%;
    }
  }
  &--text {
    margin: 0% 0 3%;
  }
  &--dark {
    background-color: $dark-bg;
  }
  &--light {
    background-color: $light-bg;
  }
}
